@font-face {
  font-family: 'SmileySans-Oblique';
  src: url('./SmileySans-Oblique.ttf');
}

@font-face {
  font-family: 'DINPro-Bold';
  src: url('./DINPro-Bold.otf');
}

@font-face {
  font-family: 'pmzdcst';
  src: url('./庞门正道粗书体-正式版.ttf');
}

@font-face {
  font-family: 'SourceHanSerifCN';
  font-weight: normal;
  src: url('./SourceHanSerifCN-Regular.otf');
}

@font-face {
  font-family: 'SourceHanSerifCN';
  font-weight: bold;
  src: url('./SourceHanSerifCN-Medium.otf');
}
